*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.icons{
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.icons:hover{
  transform: scale(1.1);
}
.closeForm{
  text-align: end;
  color: white;
}
.Link{
  list-style: none;
  text-decoration: none;
  color: black;
  margin: 15px;
  font-size: 1.2rem;
  opacity: 0.8;
  position: relative;
  font-weight: 500;
  transition: all .2s ease-in-out;
}
.Link:hover{
  opacity: 1;
}
.Link::before{
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 1px;
  background: black;
  transition: all .4s ease-in-out;
}
.Link:hover::before{
  width: 100%;
}
@media(max-width: 700px){
  .Link:hover::before{
    width: 60px;
  }
}
.unOrderedList li{
  margin: 5px 0;
}
.projectImg{
  width: 100%;
}
.projectImg img{
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
}
.projectBody{
  margin: 10px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.projectPost{
  width: 70vw;

  max-height: 100%;
  background-color: white;
  display: flex;
  padding: .5rem;
  margin: 15px 0;
}
.detailsContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.projectInfo{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  margin: 15px;
  max-width: 75vw;
}
.projectText{
  text-align: start;
  color: rgba(0, 0, 0, .2);
}
.projectInfoContainer{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.watch{
  display: flex;
  align-items: center;
}
.watchNumber{
  font-size: .7rem;
}
.projectButton{
  border-top: 1px solid black;
  width: 100%;
  text-align: end;
}
.projectClassification{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 500px){
  .projectPost{
    width: 98vw;
    flex-direction: column;
  }
}
@media (max-width: 600px){
  .projectPost{
    width: 98vw;
    flex-direction: column;
    min-height: 60vh;
  }
    .projectImg img{
      height: 15rem;
    }
}
@media (max-width: 800px) {
  .projectPost {
    width: 80vw;
    flex-direction: column;
  }
    .projectImg img {
      height: 15rem;
    }
}
@media (max-width: 1000px) {
    .projectImg img {
      height: 15rem;
    }
}
@media (max-width: 1070px) {
    .projectBody {
      flex-direction: column;
    }
}